@import '../../Paleta-colores.scss';

.Index-cotrolBar {
    width: 100%;
    height: 17px;
    position: fixed;
    z-index: 1;
}

.ControlBar{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    background-color: $color-mainCard;
}

    .titleBox{
        flex-grow: 1;
        height: 100%;
        
        text-align: center;
        font-size: 10px;
        color: $text;

        -webkit-app-region: drag;
    }

    .buttonBox{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        height: 100%;
        width: 70px;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        background-color: $buttonsControls;
    }
        .ctlButtons{
            height: 70%;
            cursor: pointer;
        }
    /**/
/**/