@import '../../Paleta-colores.scss';
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');

/* -----------------LOGIN BOX------------------*/

.loginBox{
    position: absolute;
    height: 100%;
    width: 100%;
    transform: translateY(-100%);
}

.loginBoxFlex{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}





/*---------------VARIABLES---------------------*/
$app-size-height: 100%;
$app-size-width: 100%;

$option-size: 65px;
$header-size: 3cm;

$standar-border-radius: 17px;

$text-size-sucursal: 35px;

$text-size-label-1: 10px;
$text-size-value-1: 10px;

$text-size-value-2: 30px;

$text-size-target-title: 18px;

$text-size-list: 12px;

$main-input-size-height: 2cm;
$main-input-size-width: 2.5cm; 





/*------------------GENERAL STYLES----------------------*/
.Index-responsiva{
    height: calc(100% - 17px);
    width: 100%;
}

.ResponsivaBlur{
    filter: blur(8px);
    -webkit-filter: blur(8px);
    display: grid;
    height: $app-size-height;
    width: $app-size-width;
    grid-template-columns: $option-size auto;
    grid-template-rows: $header-size calc(100% - #{$header-size});
    grid-template-areas: 
        "header header"
        "options body"
    ;

    //border: 1px solid black;
    background-color: $background-responsiva;
    font-family: 'Merriweather', serif;
}

.Responsiva{
    display: grid;
    height: $app-size-height;
    width: $app-size-width;
    grid-template-columns: $option-size auto;
    grid-template-rows: $header-size calc(100% - #{$header-size});
    grid-template-areas: 
        "header header"
        "options body"
    ;

    //border: 1px solid black;
    background-color: $background-responsiva;
    font-family: 'Merriweather', serif;

    transform: translateY(17px);
}

.main-card{
    background-color: $color-mainCard;
    box-shadow: 0px 3px 6px $shadow;
}

.resalted-card{
    background-color: $color-pink-primary;
    box-shadow: 0px 3px 6px $shadow;
}

.resalted-card h2{
    color: $text-target-title-white;
    margin: 0px;
}

.input-card{
    background-color: $color-inputCard;
}

h2, h3{
    color: $text-target-title;
    margin: 0px;
}

h2{
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: $text-size-target-title;
}

p, label{
    margin: 0px;
    color: $text-responsiva;
    font-family: 'Merriweather', serif;
    font-size: $text-size-label-1;
}

input{
    appearance: none;
	-webkit-appearance: none;
    -moz-appearance: none;
    outline: none;
    border-style: none;
    border-width: 0px;
    padding: 0px;
    font-family: 'Merriweather', serif;
    color: $text-responsiva;
}
input::placeholder{
    color: $placeholder;
}

.generalBtn{
    background-color: $color-ribbon;
    height: 45px;
    width: 45px;
    border-radius: 100%;
    border-style: solid;
    border-width: 3px;
    box-shadow: 0px 0px 6px $shadow;
    margin-top: 5px;
    margin-bottom: 5px;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

    .generalBtn:hover{
        cursor: pointer;
    }

    .generalBtn img{
        height: 90%;
        width: 90%;
    }
/**/


















/*----------------HEADER---------------*/

.header{
    grid-area: header;
    background-color: $color-ribbon;
    height: $header-size;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 0px 6px $shadow;
}




    .header__logo{
        margin-left: 1%;
        height: 90%;
        -webkit-app-region: drag;
    }




    .header__sucursal{
        margin: 0px;
        color: $color-green-menta;
        font-family: 'Libre Baskerville', serif;
        font-size: $text-size-sucursal;
        text-align: center;
        -webkit-app-region: drag;
    }




    .header__form{
        margin-right: 2%;
        height: 2.5cm;
        width: 16cm;
        display: flex;
        align-items: center;
        justify-content: space-around;
        border-radius: $standar-border-radius;
    }



        .form__usuarios__section{
            display: flex;
            height: $main-input-size-height;
            width: $main-input-size-width * 2;
            border-radius: $standar-border-radius;
            box-shadow: 0px 0px 6px $shadow;
        }

            .usuario__content{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
            }

                .usuario__value{
                    margin-top: 1.2cm;
                    height: 1.5cm;
                    width: 90%;
                    text-align: center;
                    font-size: $text-size-label-1;
                }

                .usuario__title{
                    margin-bottom: 0.2cm;
                    width: 90%;
                    border-top: 1px solid $text;
                    text-align: center;
                    font-weight: bold;
                }

                .usuario1{
                    border-top-left-radius: $standar-border-radius;
                    border-bottom-left-radius: $standar-border-radius;
                    width: 50%;
                }

                .usuario2{
                    border-top-right-radius: $standar-border-radius;
                    border-bottom-right-radius: $standar-border-radius;
                    width: 50%;
                }
        /**/




        .form__caja__content{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            height: $main-input-size-height;
            width: $main-input-size-width;
            border-radius: $standar-border-radius;
            box-shadow: 0px 0px 6px $shadow;
            font-weight: bold;
        }

            .caja__value{
                margin-top: 10%;
                height: 60%;
                width: 90%;
                text-align: center;
                font-size: $text-size-value-2;
            }

            .caja__title{
                margin-bottom: 5%;
                width: 90%;
                border-top: 1px solid $text;
                text-align: center;
            }
        /**/



        .form__fechas__section{
            display: flex;
            flex-direction: column;
            width: $main-input-size-width * 2.5;
        }

            .fecha__label{
                margin-left: 10px;
                margin-top: 5px;
            }

            .fecha__content{
                display: flex;
                align-items: center;
                width: 100%;
                height: 0.5cm;
                border-radius: $standar-border-radius;
                box-shadow: 0px 0px 6px $shadow;
            }
                .fecha__content p{
                    color: $placeholder;
                }


                .fecha__date{
                    margin-left: 10px;
                    width: 70%;
                    font-size: $text-size-value-1;
                }

                .fecha__time{
                    width: 20%;
                    font-size: $text-size-value-1;
                    text-align: center;
                    font-weight: bold;
                }
            /**/
        /**/
    /**/    
/**/