@import '../../../../Paleta-colores.scss';
@import '../../Responsiva.scss';
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');


/*---------------BODY------------------*/
.body{
    grid-area: body;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 100%;
    grid-template-areas: 
    "section1 section2 section3"
    ;
    color: $text-responsiva;
}





    .body__section-1{
        grid-area: section1;
        display: flex;
        flex-direction: column;
        height: 100%;
        align-items: center;
        justify-content: center;
    }
        /*------------------PRODUCTS----------------------*/
        .products{
            width: 8cm;
            height: 95%;
            border-radius: $standar-border-radius;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
            

            .products__content-sold{
                height: 30%;
                width: 90%;
                border-top-left-radius: $standar-border-radius;
                border-top-right-radius: $standar-border-radius;
                box-shadow: 0px 0px 6px $shadow;
                margin-bottom: 2px;
                display: flex;
                flex-direction: column;
                align-items: center;
            }
                .products__subtitle__box{
                    width: 90%;
                    display: flex;
                    justify-content: flex-end;
                }

                    .products__subtitle-1{
                        margin-top: 10px;
                        font-size: $text-size-label-1;
                        margin-right: 10px;
                    }

                    .products__subtitle-2{
                        margin-top: 10px;
                        font-size: $text-size-label-1;
                    }
                /**/

                .products__sold{
                    display: flex;
                    flex-direction: column;
                    width: 90%;
                    height: 80%;
                    font-size: $text-size-list;
                }

                    .sold__item{
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        border-bottom: 1px solid $text;
                    }
                        .sold__item__name{
                            margin-left: 10px;
                            max-width: 130px;
                        }

                        .sold__item__value-2{
                            margin-right: 20px;
                            font-weight: bold;
                        }
                    /**/
                /**/
            /**/

            .products__content-inventory{
                height: 70%;
                width: 90%;
                border-bottom-left-radius: $standar-border-radius;
                border-bottom-right-radius: $standar-border-radius;
                box-shadow: 0px 0px 6px $shadow;
                margin-top: 2px;
                margin-bottom: 20px;
                display: flex;
                flex-direction: column;
                align-items: center;
            }

                .products__inventory{
                    display: flex;
                    flex-direction: column;
                    width: 90%;
                    height: 85%;
                    font-size: $text-size-list;
                }
                   
                        .inventory__item{
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            border-bottom: 1px solid $text;
                        }

                            .inventory__item__name{
                                margin-left: 10px;
                                width: 40%;
                            }

                            .inventory__item__value-1{
                                width: 40px;
                                height: 100%;
                                text-align: center;
                                margin-right: 7px;
                                font-weight: bold;
                                font-size: $text-size-list;
                            }

                            .inventory__item__division{
                                border-left: 1px solid $text;
                                height: 80%;
                                margin-right: 7px;
                            }


                            .inventory__item__value-2{
                                width: 40px;
                                height: 100%;
                                text-align: center;
                                margin-right: 10px;
                                font-weight: bold;
                                font-size: $text-size-list;
                            }
                        /**/
                    /**/        
                /**/
            /**/
        /**/
    /**/









    .body__section-2{
        grid-area: section2;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }
        .copy{
            border-radius: $standar-border-radius;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    
            .copy__paper__checkbox{
                display: flex;
                width: 100%;
                justify-content: flex-end;
                align-items: center;
            }
                .copy__paper__checkbox label{
                    color: $color-green-menta;
                }


                //General
                .copy__paper__checkbox input{
                    box-shadow: 0px 0px 6px $shadow;
                    border-radius: 4px;
                    height: 15px;
                    width: 15px;
                    cursor: pointer;
                    margin-right: 20px;
                    margin-left: 10px;
                }
                //

                .input-checkbox-false{
                    background-color: $color-inputCard;
                }

                .input-checkbox-true{
                    background-color: $color-cyan-primary;
                }
            
            .copy__section__display{
                display: flex;
                //align-items: center;
            }
                .copy__section{
                    display: grid;
                    grid-template-columns: 140px 140px;
                    grid-template-rows: 70px 70px;
                    grid-template-areas: 
                    "copiasBN copiasC"
                    "impresionesBN impresionesC";
                    margin-left: 20px;
                    margin-right: 20px;
                    margin-bottom: 20px;
                }
                    //General
                    .copy__section .input-card, .copy__content-paper{
                        box-shadow: 0px 0px 6px $shadow;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                    }
                    $space-between: 5px;
                    //

                    .copy__content-topLeft{
                        border-top-left-radius: $standar-border-radius;
                        margin-bottom: $space-between;
                        margin-right: $space-between;
                    }

                    .copy__content-topRight{
                        border-top-right-radius: $standar-border-radius;
                        margin-bottom: $space-between;
                        margin-left: $space-between;
                    }

                    .copy__content-bottomLeft{
                        border-bottom-left-radius: $standar-border-radius;
                        margin-top: $space-between;
                        margin-right: $space-between;
                    }

                    .copy__content-bottomRight{
                        border-bottom-right-radius: $standar-border-radius;
                        margin-top: $space-between;
                        margin-left: $space-between;
                    }
                    
                    .copy__content-paper{
                        width: 120px;
                        height: 125px;
                        margin-top: 10px;
                        margin-right: 20px;
                        border-radius: $standar-border-radius;
                    }
                        //General
                        .copy__section input, .copy__content-paper input{
                            height: 60%;
                            width: 90%;
                            text-align: center;
                            font-size: $text-size-value-2;
                        }
                        //
                        .copy__section input{
                            margin-top: 5%;
                        }
                        .copy__content-paper input{
                            margin-top: 10%;
                        }

                        //General
                        .copy__section p, .copy__content-paper p{
                            margin-bottom: 5%;
                            width: 90%;
                            border-top: 1px solid $text;
                            text-align: center;
                        }
                        //
                        .copy__content-paper p{
                            margin-top: 15%;
                        }
                        
                    /**/
                /**/
            /**/    
        /**/

        .observations{
            border-radius: $standar-border-radius;
            display: flex;
            flex-direction: column;
            align-items: center;
        }   
            .observations__content{
                border-radius: $standar-border-radius;
                margin-right: 20px;
                margin-bottom: 5px;
                margin-left: 20px;
                height: 150px;
                width: 450px;
            }
                .observations__display-titles{
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-between;
                    margin-top: 5px;
                }
                    //General
                    .observations__display-titles h3{
                        font-size: $text-size-label-1;
                    }
                    //
                    .title-detail{
                        margin-left: 30px;
                    }

                    .title-value{
                        margin-right: 30px;
                    }

                /**/
            .observations__display-observation{
                display: flex;
                flex-direction: column;
                align-items: center;
                height: 130px;
                overflow: auto;
            }
            .options_area::-webkit-scrollbar{
                -webkit-appearance: none;
            }
            .options_area::-webkit-scrollbar:vertical {
                width:1px;
            }
                .observations__observation{
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    border-bottom: 1px solid $text;
                    width: 90%;
                }
                    //General
                    .observations__observation div{
                        margin-bottom: 5px;
                    }
                    //
                    .observation-input{
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        width: 85%;
                    }
                        .observation-input input{
                            margin-left: 10px;
                            margin-right: 5px;
                            width: 100%;
                        }

                    .observation-input-value{
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        border-left: 1px solid $text;
                        width: 15%;
                    }   
                        .observation-input-value label{
                            margin-left: 5px;
                        }
                        .observation-input-value input{
                            width: 90%;
                            text-align: center;
                        }
                    /**/ 
                /**/
            /**/
            .observations__display-button{
                width: 100%;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: flex-end;
                margin-bottom: 5px;
            }
                .observations__display-button button{
                    border-style: solid;
                    border-width: 1px;
                    border-radius: 15px;
                    height: 25px;
                    width: 50px;
                    outline: none;
                    cursor: pointer;
                    font-size: 20px;

                    border-color: $color-cyan-primary;
                    color: $color-cyan-primary;
                    background-color: $background-login;

                    margin-right: 20px;
                }

                .observations__display-button button:hover{
                    border-color: $color-cyan-primary;
                    color: $background-login;
                    background-color: $color-cyan-primary;
                    box-shadow: 0px 3px 6px $shadow;
                }
            /**/
        /**/

        .btnsArea{
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-top: 10px;
            margin-bottom: 10px;
        }
            //General
            .btnsArea input{
                box-shadow: 0px 0px 6px $shadow;
                border-radius: 4px;
                border-style: solid;
                border-width: 1px;
                border-color: $color-cyan-primary;
                height: 20px;
                width: 20px;
                cursor: pointer;
            }
            //

            .btnsArea__checkbox-false{
                background-color: $color-inputCard;
            }

            .btnsArea__checkbox-true{
                background-color: $color-cyan-primary;
            }

            
            
            .btnReportDevice{
                border-style: solid;
                border-width: 1px;
                border-radius: 30px;
                height: 50px;
                width: 170px;
                outline: none;
                cursor: pointer;
                font-size: 12px;

                margin-right: 5px;
                margin-left: 5px;

                border-color: $color-pink-primary;
                color: $color-pink-primary;
                background-color: $background-login;

            }

            .btnReportDevice:hover{
                border-color: $color-pink-primary;
                color: $background-login;
                background-color: $color-pink-primary;
                box-shadow: 0px 3px 6px $shadow;
            }



            .btnReportProduct{
                border-style: solid;
                border-width: 1px;
                border-radius: 30px;
                height: 50px;
                width: 100px;
                outline: none;
                cursor: pointer;
                font-size: 12px;


                margin-right: 5px;
                
                border-color: $color-cyan-primary;
                color: $color-cyan-primary;
                background-color: $background-login;

            }

            .btnReportProduct:hover{
                border-color: $color-cyan-primary;
                color: $background-login;
                background-color: $color-cyan-primary;
                box-shadow: 0px 3px 6px $shadow;
            }
            
        /**/
    /**/









    .body__section-3{
        grid-area: section3;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        height: 100%;
        width: 100%;
    }
        .initialCount{
            border-radius: $standar-border-radius;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .initialCount__content{
            height: 75px;
            width: 150px;
            margin-top: 10px;
            margin-right: 20px;
            margin-bottom: 10px;
            margin-left: 20px;

            display: flex;
            flex-direction: column;
            align-items: center;
            box-shadow: 0px 0px 6px $shadow;
            border-radius: $standar-border-radius;
        }
            .initialCount__input{
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                height: 80%;
            }
                .initialCount__input label{
                    text-align: center;
                    font-size: $text-size-value-2;
                }

                .initialCount__input input{
                    height: 60%;
                    width: 70%;
                    text-align: center;
                    font-size: $text-size-value-2;
                }
            /**/

            .initialCount__content p{
                margin-bottom: 5%;
                width: 90%;
                border-top: 1px solid $text;
                text-align: center;
            }

        /**/

        .arqueo{
            border-radius: $standar-border-radius;
            display: flex;
            flex-direction: column;
            align-items: center;

            width: 270px;
        }
            .arqueo__section-inventory{
                display: flex;
                flex-direction: row;
                align-items: center;
                width: 100%;
            }
                .inventory__display-inputs{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: space-between;
                    width: 50%;
                }
                .coins{
                    border-right: 1px solid $text;
                }

                    .inventory__input{
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: flex-end;
                        width: 100%;
                        margin-top: 2px;
                        margin-bottom: 2px;
                    }   
                        //General
                        .inventory__input label{
                            width: 30%;
                        }

                        .arqueo__value{
                            border-radius: $standar-border-radius;
                            box-shadow: 0px 3px 6px $shadow;
                            width: 50%;
                            height: 20px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                        }
                            .inventory__input input{
                                width: 85%;
                            }
                        /**/
                        .coins .arqueo__value{
                            margin-right: 5%;
                        }
                        .bills .arqueo__value{
                            margin-right: 15%;
                        }
                    /**/
                /**/
            /**/
            .arqueo__section-count{
                border-top: 1px solid $text;
                margin-top: 7px;
                margin-bottom: 7px;
                display: flex;
                flex-direction: row;
                width: 90%;
            }
                .count__leftDisplay{
                    display: flex;
                    flex-direction: column;
                    width: 50%;
                    align-items: flex-end;
                    justify-content: space-between;
                }
                    .count__leftDisplay div{
                        display: flex;
                        flex-direction: row;
                        margin-right: 30px;
                        margin-top: 5px;
                        //margin-bottom: 5px;
                    }
                        .count__leftDisplay div p{
                            margin-left: 20px;
                        }
                    /**/
                    .count__leftDisplay p{
                        margin-right: 5px;
                        margin-top: 5px;
                        //margin-bottom: 5px;
                    }
                /**/

                .count__rightDisplay{
                    display: flex;
                    flex-direction: column;
                    width: 50%;
                    justify-content: space-between;
                }
                    .count__rightDisplay div{
                        display: flex;
                        flex-direction: row;
                        margin-left: 5px;
                        margin-top: 5px;
                        //margin-bottom: 5px;
                    }
                        .count__rightDisplay div p{
                            margin-left: 20px;
                        }
                    /**/

                    .count__rightDisplay p{
                        margin-left: 5px;
                        margin-top: 5px;
                        //margin-bottom: 5px;
                    }
                /**/
            /**/

        .mainCount{
            display: flex;
            flex-direction: column;
            align-items: center;
            border-radius: $standar-border-radius;
            width: 270px;
            height: 140px;
        }
            .mainCount__content{
                display: flex;
                flex-direction: row;
                align-items: center;
                border-radius: $standar-border-radius;
                width: 90%;
                height: 78%;
            }
                .mainCount__labels-display{
                    display: flex;
                    flex-direction: column;
                    align-items: flex-end;
                    justify-content: center;
                    width: 50%;
                    height: 100%;
                }
                    .mainCount__labels-display p{
                        font-size: 13px;
                        margin-top: 5px;
                        width: 80%;
                    }

                    .labelResalted{
                        font-weight: bold;
                    }
                /**/

                .mainCount__values-display{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    width: 50%;
                    height: 100%;
                    text-align: center;
                }
                    .mainCount__values-display p{
                        font-size: 13px;
                        margin-top: 5px;
                        width: 80%;
                    }

                    .valueResalted-2{
                        color: $color-pink-primary;
                    }

                    .valueResalted{
                        font-weight: bold;
                        border-top: 1px solid $text;
                        width: 80%;
                    }


                /**/
            /**/
        /**/
    /**/
/**/