$color-green-pastel:#26FF8B;
$color-green-primary:#00FF4C;
$color-green-menta:#6BAEA7;
$color-cyan-primary:#00FFF0;
$color-purple:#7040C4;
$color-magent:#BD31F8;
$color-pink-primary:#FF26A5;
$background-login: #ffffff;
$color-select-hover:#F1F1F1;

$color-inputCard: #ffffff;
$color-mainCard: #f1f1f1;
$background-responsiva: #f8f8f8;
$color-ribbon: #ffffff;

$placeholder: #9292927a;
$color-text-resalted: $color-green-menta;
$color-resalted: $color-pink-primary;
$border: #d6d6d6;
$text: #9f9f9f;
$text-responsiva: #5e5e5e;
$text-target-title: #868686be;
$text-target-title-white: #ffffff;
$shadow: #e0e0e0;

$buttonsControls: #dbd9d9;